/**
 * Drawer Component Style for uxcore
 * @author kewenlei
 *
 * Copyright 2017-2018, Uxcore Team, Alinw.
 * All rights reserved.
 */

@__drawerPrefixCls: kuma-drawer;
@_dialogPrefixCls: kuma-dlg;
@diff : 0px;
.@{__drawerPrefixCls} {
  position: fixed;
  height: 100%;
  min-width: 263px;
  background: #fff;
  overflow: hidden;
  z-index: 1000;
  .kuma-dlg-close {
    z-index: 999;
  }
  &.@{_dialogPrefixCls} {
    position: fixed;
  }
  .@{_dialogPrefixCls}-content {
    position: initial;
    height: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
  }
  .@{_dialogPrefixCls}-body {
    width: 100%;
    flex: 1;
    padding: 16px 24px 0px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-right {
    right: 0;
    top: 0;
    bottom: 0;
  }
  &-left {
    left: 0;
    top: 0;
    bottom: 0;
  }
  .@{_dialogPrefixCls}-header {
    flex: 0;
    border-bottom: 1px solid @split-line-color;
  }
  .@{_dialogPrefixCls}-footer {
    flex: 0;
  }
  &.dialogFade-enter,
  &.dialogFade-appear {
    opacity: 0;
    animation-timing-function: @transition-ease;
    animation-duration: .4s;
  }
  &.dialogFade-enter-active,
  &.dialogFade-appear-active {
    animation-name: drawerFadeIn;
  }
  &.dialogFade-leave {
    opacity: 1;
    animation-timing-function: @transition-ease;
    animation-duration: .4s;
  }
  &.dialogFade-leave-active {
    animation-name: drawerFadeOut;
  }
  &.dialogSlideRight-enter,
  &.dialogSlideRight-appear {
    opacity: 0;
    transform: translateX(50px);
    animation-timing-function: @transition-ease;
    animation-duration: .5s;
  }
  &.dialogSlideRight-enter-active,
  &.dialogSlideRight-appear-active {
    animation-name: drawerSlideInRight;
  }
  &.dialogSlideRight-leave {
    opacity: 1;
    animation-timing-function: @transition-ease;
    animation-duration: .5s;
  }
  &.dialogSlideRight-leave-active {
    animation-name: drawerSlideOutRight;
  }
  &.dialogSlideLeft-enter,
  &.dialogSlideLeft-appear {
    opacity: 0;
    transform: translateX(-50px);
    animation-timing-function: @transition-ease;
    animation-duration: .5s;
  }
  &.dialogSlideLeft-enter-active,
  &.dialogSlideLeft-appear-active {
    animation-name: drawerSlideInLeft;
  }
  &.dialogSlideLeft-leave {
    opacity: 1;
    animation-timing-function: @transition-ease;
    animation-duration: .5s;
  }
  &.dialogSlideLeft-leave-active {
    animation-name: drawerSlideOutLeft;
  }
}

@keyframes drawerSlideInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes drawerSlideOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
  }
}

@keyframes drawerSlideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes drawerSlideOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
  }
}

@keyframes drawerSlideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes drawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drawerFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}